.App {
  margin: 0;
  padding: 0;
  height: 100px;
  background-color: cornflowerblue;
}

nav{
  background: #E75A03;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding:20px 40px;
}

.logo{
  /* border: 1px solid red; */
  height: 70px;
  width: 300px;
  padding: 0 20px ;
  /* z-index: 100; */
}
.logo:hover{
  transform: scale(1.05); 
}



.cart svg{
  height:80px;
  width:50px;
  margin: 10px;
  /* padding:10px; */
  fill: #fff;
  /* border: 1px solid #fff; */
  border-radius: 50%;
}

.cart:hover{
  transform: scale(1.09);
}
nav ul{
  /* width:40%; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}
nav ul .link{
  background: #E75A0f;
  color: #fff;
  text-decoration: none;
  padding: 10px 50px ;
  font-size: 25px;
  margin: 10px;
  border-bottom: 1px solid #333;
}

nav ul .link:hover{
  transform: scale(1.05);  
  border: 0.2px solid #333; 
  border-bottom: 1px solid #333;
}