/* rgba(255,179,71,0.7)*/
.pages {
  background-color: #f1f9fb;
  width: 96.5%;
  margin-left: 20px;
  border-radius: 16px;
  padding-top: 30px;
  padding-bottom: 20px;
}
/* .App {
  margin: 0;
  padding: 0;
  height: 100px;
  background-color: cornflowerblue;
} */
/*previous color E75A03 */
nav {
  background: rgb(255, 123, 0);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 75px;
  /* width: 100vw; */
}

.logo {
  /* border: 1px solid red; */
  /* height: 40px; */
  width: 250px;
  margin-left: 25px;
  /* margin-right: 47.5%; */
  /* z-index: 100; */
}



.cart svg{
  height:auto;
  width:45px;
  margin: 10px;
  /* padding:10px; */
  fill: #fff;
  /* border: 1px solid #fff; */
  border-radius: 50%;
}

.cart:hover{
  transform: scale(1.09);
}
nav ul{
  /* width:40%; */
  margin-left: 55%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  list-style: none;
}

nav ul li > :first-child {
  text-decoration: none;
  color: #fff;
  font-size: 1.25rem;
}
nav ul .link{
  /* background: #E75A0f; */
  color: #fff;
  text-decoration: none;
  padding: 5px 20px ;
  font-size: 20px;
  margin: 10px;
  border-bottom: 1px solid #333;
}
