/* rgba(255,179,71,0.7)*/
.pages {
  background-color: #f1f9fb;
  width: 96.5%;
  margin-left: 20px;
  border-radius: 16px;
  padding-top: 30px;
  padding-bottom: 20px;
}
/*previous color E75A03 */
nav {
  background: rgb(255, 123, 0);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 75px;
  /* width: 100vw; */
}

.logo {
  /* border: 1px solid red; */
  /* height: 40px; */
  width: 250px;
  margin-left: 25px;
  /* margin-right: 47.5%; */
  /* z-index: 100; */
}

nav ul {
  margin-left: 55%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  list-style: none;
}
nav ul li {
  background: #e75a0f;
  padding: 5px 20px;
  margin: 5px;
  color: #fff;
  font-size: 1.25rem;
}

/* nav ul li:hover{
  transform: scale(1.05);  
  border: 0.2px solid #333; 
  border-bottom: 1px solid #333;
} */

nav ul li > :first-child {
  text-decoration: none;
  color: #fff;
  font-size: 1.25rem;
}
