/* For search bar and search by selection  */
.search-section {
  width: 40%;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: initial;
  align-items: center;
  margin-top: 40px; 

  background-color: #eaeaeb;
  color: #6c6c6c;
  border-radius: 6px;
  /* border:1px solid red; */
}

/* For search tag selection  */
.search-select1{
  width: 30%;
  border-right: 0.5px solid #a9a9a9;
}

.search-change-section {
  width: 100%;
  left: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  padding: 15px 45px 15px 15px;
  background-color: #eaeaeb;
  color: #6c6c6c;
  border-radius: 6px;
  border:none;
  transition: all .4s;
}

.search-change-section:focus {
  border:none;
  outline:none;
  /* box-shadow: 0 1px 12px #b8c6db;
  -moz-box-shadow: 0 1px 12px #b8c6db;
  -webkit-box-shadow: 0 1px 12px #b8c6db; */
}

/* For search field and search button  */
.search-select2{
  width: 70%;
  position: relative;
  
}
.search-input {
  width: 80%;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  padding: 15px 45px 15px 15px;
  background-color: #eaeaeb;
  color: #6c6c6c;
  border-radius: 6px;
  border:none;
  transition: all .4s;
}

.search-input:focus {
  border:none;
  outline:none;
  /* box-shadow: 0 1px 12px #b8c6db;
  -moz-box-shadow: 0 1px 12px #b8c6db;
  -webkit-box-shadow: 0 1px 12px #b8c6db; */
}
.search-btn {
  position: absolute;
  right: 0;
  width: 50px;
  background-color: transparent;
  font-size: 18px;
  padding: 6px 9px;
  /* margin-left:-45px; */
  border:none;
  color: #6c6c6c;
  transition: all .4s;
  z-index: 10;
}

.search-btn:hover {
  transform: scale(1.2);
  cursor: pointer;
  color: black;
}

.search-btn:focus {
  outline:none;
  color:black;
}


/* for catagories and selection  */

.selection{
  width: 40%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background: #6c6c6c; */
  margin:auto;

  font-size: 18px;
}

.selection label{
  font-size: 25px;
  position: relative;
}
.selection label::after{
  position: absolute;
  content: '';
  height: 3px;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: -8px; 
  width: 80%;
  background: #E75A03;
}

.selectionChild1{
  width: 100%;
  margin-top: 1rem;
  display: flex;
  justify-content:flex-end;
  align-items: center;
}
.selectionChild1 select{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  padding: 10px 15px 10px 15px;
  background-color: #eaeaeb;
  color: #6c6c6c;
  border-radius: 6px;
  border:none;
}

.selectionChild2{
  width: 100%;
  margin: 25px 25px;
  display: flex;
  justify-content:space-between;
  align-items: center;
  /* background: #c74444; */
  /*background: #1A86F2; */
}

.Particularcata{
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Particularcata span{
  margin-top: 8px;
} 

.Particularcata:hover{
  color: #E75A03;
  cursor: pointer;
}

.selectionChild select{
  /* background: #e75a00; */
  background: #eaeaeb;
  height: 30px;
  width: 150px;
  color: #4b5253;
  border: none;
  border-radius: 4px;

}



/* for rendering suggestion  */
.card-container {
    width: 100%;
    border-radius: 6px;
    display: flex;
    flex-wrap: wrap;
    color: #333;
    /* justify-content: center; */
    padding: 1rem; 
  }

  
  .cardItem {
    float: left;
    width: 250px;
    height: 100%;
    box-shadow: 0 1px 1rem -4px #000;
    background: #fff;
    margin: 1rem;
   
    border-radius: 6px;
    cursor: pointer;
    transition: all 250ms ease-in-out;  
  }

  .cardItem Image{
    width: 240px;
    height: 240px;
    object-fit: cover;   
  }

  .cardItem:hover{
    box-shadow: 0 4px 1rem -4px #000;
    transform: translateY(-3px);    
  } 

  