@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rouge+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Qwigley&family=Rouge+Script&display=swap');

.featureCarousel{
  height: 700px;
  width: 1500px;
  margin:30px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
    /* margin-bottom: 20px; */
}

.carouselName{
  font-family: 'Qwigley', cursive;
  font-size: 90px;
  margin-left: 10%;
}


.carouselDes{
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  font-style: italic;
  margin-left: 10%;
}


/* from below here it is css of home componenet of Popular added by jackie lhowa */
/* *, *::before, *::after {
    margin: 0;
    padding: 0;
  } */

  .PopularHeading{
    text-align: center;
    margin-top: 50px;
  }
  
  
  .cards-container {
    display: flex;
    color: #333;
    background: #eee;
    padding: 1rem;
    overflow-x: auto;
    position: relative;
  }

  .cards-container::-webkit-scrollbar{
      display: none;
  }
  
  .card {
    flex: 1 0 450px;
    box-shadow: 0 1px 1rem -4px #000;
    background: #fff;
    margin: 1rem;
    overflow: hidden;
    border-radius: 6px;
    cursor: pointer;
    transition: all 250ms ease-in-out;  
  }

  .card img{
    width: 450px;
    height: 420px;
    object-fit: center;   
  }

  .card:hover{
    box-shadow: 0 4px 1rem -4px #000;
    transform: translateY(-3px);    
  }
  
  .card-content {
    padding: 1rem;
  }

/* from below here it is css of home componenet of About us added by jackie lhowa */

.About-container{
  width: 100%;
  height: 650px;
  margin-top: 50px;
  background: #fff;
  display: flex;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
}
.aboutContent{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  float: left;
  width: 60%;
  /* border: 1px solid red; */
  /* background: #333; */
}
.aboutContent h1{
  width: 70%;
  text-align: center;

}

.aboutContent p{
  width: 70%;
  font-size: 18px;
  text-align: center;
}



.aboutImg{
  float: right;
  width: 40%;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.aboutImg img{
  
  width: 100%;
  height: 80%;
  object-fit: center;  
  /* border: 1px solid #452562; */
    
}
