@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


*{
    box-sizing: border-box;
}

.formBody{
    background-color: #f9fafb;
    background-image: url(https://source.unsplash.com/user/erondu/1600x900);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 

    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    margin: 0;    
}
.formContainer{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0,0,0, 0.5);
    width: 500px;
}

h2{
    text-align: center;
    margin: 0 0 20px;
}

.signUp{
    margin-top: 30px;
}


.form{
    padding: 30px 40px;
}

.form-control{
    margin-bottom: px;
    padding-bottom: 10px;
    position: relative;
}

.form-control label {
    color: #777;
    display: block;
    margin-bottom: 5px;
    position: relative;
}

.form-control input{
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 14px;
}

.form-control input:focus{
    outline: 0;
    border-color: #777;
}

.form button{
    cursor: pointer;
    background-color: #3498db;
    border: 2px solid #3498db;
    border-radius: 4px;
    color: #fff;
    display: block;
    font-size: 16px;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
}

.password-trigger {
  position: absolute;
  top: 50%;
  right: .5rem;
  color: #666;
  z-index: 9999;
  user-select: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}