.mapcontainer{
    margin: 0;
    height: 60vh;
    /* max-height: 500px; */
    /* width: 90vw; */
}

/* .map-gl{
    height: 75%;
    width: 75%;
} */

.getloc{
    position: relative;
    bottom: 580px;
    left: 75%;
}