.mapcontainer{
    margin: 0;
    height: 400px;
    width: 500px;
}
.location{
    height:1000px;
    width:fit-content;
}
.map{
    position: inherit;
}

.getloc{
    position: relative;
    bottom: 580px;
    left: 650px;
}