.locBtn {
  position: relative;
  left: 94%;
  font-weight: bold;
  font-size: 1.25rem;
  background-color: orange;
  color: white;
  border-radius: 24px;
  cursor: pointer;
  width: 5%;
  text-align: center;
}

.pop-dialog-parent {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  border: 1px solid black;
  border-radius: 14px;
  background-color: white;
  width: fit-content;
  max-width: 50%;
  z-index: 10;
  transition: 150ms ease-in-out;
}

.pop-dialog-parent.active {
  transform: translate(-50%, -50%) scale(1);
}

.pop-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.pop-header .pop-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.pop-header .pop-close {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.pop-body {
  padding: 10px 15px;
}

.pop-body > * {
  width: 100%;
  overflow: hidden;
}

.pop-setBtn {
  /* position: relative; */
  /* left: 75%; */
  margin: 10px;
  padding: 10px;
  background-color: orange;
  border-radius: 24px;
  width: fit-content;
  font-size: 1.25rem;
  color: white;
  display: flex;
  justify-self: flex-end;
}

.overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  transition: 150ms ease-in-out;
}

.overlay.active {
  pointer-events: all;
  opacity: 1;
}
