.body{
    background-color: #F6F6DA;        
}


.container{
    height: auto;
    width: 180px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    font: 1em;
    color: #000;
    border: hidden;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    margin: 20px;
    margin-left: 50px;
    background: inherit;
}
#menuContainer{
    background: #ffe;
    color:rgb(34, 33, 33);
    
   
}

.container:hover{
    transform: scale(1.1);
    margin: 20px;
    margin-left: 60px;
    transition: 0.3s;
    cursor: pointer;
}


.Images{
    justify-content: center;
    display: flex;
    align-items: center;    
}

.Images>Carousel{
    align-self: center;
    justify-self: center;
}

.Menu{
    display: flex;
    flex-direction: row;
    font-family: 'Poppins', sans-serif;
    flex: space-between;
}
.menuTxt{
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    margin-left: 50px;
    
}

.showMoreBtn{
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    margin-left: 50px;
    border: hidden;
    background:inherit;
}

.showMoreBtn:hover{
    border: hidden;
    border-radius: 5px;
    background-color: #E75A03;
    color: #fff;
    padding: 5px;
    transition: 0.7s;
    cursor: pointer;
    
}

Image{
    height: 150px;
    margin: 5px;
}
/*
.scroll-menu-arrow {
    padding: 20px;
    border: hidden;
    background: #000;
    cursor: pointer;
  }*/